@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@glidejs/glide/dist/css/glide.core.min.css';
@import './glide.theme.css';

@layer base {

	@font-face {
		font-family: "Monument Grotesk";
		font-weight: 400;
		src: url(/fonts/MonumentGroteskTrial-Regular.woff) format("woff");
	}

	@font-face {
		font-family: "Monument Grotesk";
		font-weight: 500;
		src: url(/fonts/MonumentGroteskTrial-Medium.woff) format("woff");
	}

	@font-face {
		font-family: "Monument Grotesk";
		font-weight: 700;
		src: url(/fonts/MonumentGroteskTrial-Bold.woff) format("woff");
	}

	@font-face {
		font-family: "Monument Grotesk";
		font-weight: 400;
		font-style: italic;
		src: url(/fonts/MonumentGroteskTrial-Italic.woff) format("woff");
	}

	@font-face {
		font-family: "Monument Grotesk";
		font-weight: 500;
		font-style: italic;
		src: url(/fonts/MonumentGroteskTrial-MediumItalic.woff) format("woff");
	}

	@font-face {
		font-family: "Monument Grotesk";
		font-weight: 700;
		font-style: italic;
		src: url(/fonts/MonumentGroteskTrial-BoldItalic.woff) format("woff");
	}

	/*----- Links -----*/

	.base-link {
		@apply hover:bg-black hover:text-white underline;
	}

	.base-menu-link {
		@apply hover:text-black hover:underline;
	}

	.base-menu-link-active {
		@apply text-white hover:text-white hover:no-underline;
	}

	.base-con-link {
		@apply underline text-green-700 transition-colors duration-300;
	}

	.base-con-link:hover {
		@apply text-green-900;
	}

	.base-button {
		@apply text-white bg-black py-1 px-2.5 border border-black transition-colors duration-300;
	}

	.base-button:hover {
		@apply bg-white text-black;
	}

	/*----- BlackSquare -----*/

	#menu-wrapper {
		z-index: 20;
	}

	#content {
		z-index: 1;
	}

	#black-square {
		background-color: rgba(0,0,0,1);
		position: fixed;
		top: 0px;
		left: 0px;
		width: 120px;
		height: 24px;
		transition: all 500ms;
		z-index:10;
	}


}